// $primary-color = #1a73e8
// $primary-color-hover = #5d9cef
// $primary-color-pressed = #135bb9
$primary-color = #ee3f86;
$primary-color-hover = rgba(241, 94, 153, 1)
$primary-color-pressed = rgba(209, 55, 118, 1)

$success-color = #34A853
$warning-color = #F9B208
$error-color = #EA4335
$info-color = #8D93AB

$primary-box-shadow-focus = 0 0 0 2.2px rgba($primary-color, 0.2)
$success-box-shadow-focus = 0 0 0 2px rgba($success-color, 0.2)
$warning-box-shadow-focus = 0 0 0 2px rgba($warning-color, 0.2)
$error-box-shadow-focus = 0 0 0 2px rgba($error-color, 0.2)

$cubic-bezier = cubic-bezier(0.4, 0, 0.2, 1)
